.pochemu {
	min-height: 485px;

	&__wrapper {
		padding-top: 20px;
		border-top: 2px solid white;
		animation: anim 5s linear infinite;
	}

	&__block1 {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
	}

	&__info {
		font-size: 17px;
		line-height: 28px;
		position: absolute;
		top: 90px;
		width: 715px;
		left: 10px;
		padding-left: 50px;

		span {
			color: #f7931e;
			font-weight: 700;
		}
	}

	&__img {
		position: absolute;
		top: 97px;
		right: 25px;
		width: 335px;
		height: 270px;
		background: linear-gradient(#000, #262626);
		border-radius: 10px;
	}

	&__title {
		width: 100%;
		position: absolute;
		font-weight: 700;
		font-size: 50px;
		color: #000000;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;
	}
}

@media (max-width: 1199.98px) {
	.pochemu {
		min-height: 500px;
		padding-bottom: 20px;

		&__wrapper {
			padding-top: 10px;
		}

		&__block1 {
			position: relative;
			display: block;
		}

		&__info {
			width: 585px;
			font-size: 17px;
			position: static;
			line-height: 24px;
			padding: 5px;
		}

		&__img {
			position: absolute;
			top: 55px;
			right: 0px;
			width: 340px;
			height: 245px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			position: static;
			font-size: 30px;
			text-align: center;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 991.98px) {
	.pochemu {
		min-height: 480px;

		&__wrapper {
			padding-top: 10px;
		}

		&__block1 {
			position: relative;
			display: block;
		}

		&__info {
			width: 465px;
			font-size: 17px;
			position: static;
			line-height: 22px;
			padding: 10px;
		}

		&__img {
			position: absolute;
			top: 70px;
			right: 0px;
			width: 315px;
			height: 245px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			position: static;
			font-size: 30px;
			text-align: center;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 767.98px) {
	.pochemu {
		min-height: 480px;

		&__block1 {
			position: relative;
			display: block;
		}

		&__info {
			width: 100%;
			font-size: 14px;
			position: static;
			line-height: 22px;
			padding-left: 0;
		}

		&__img {
			display: none;
			position: absolute;
			top: -5px;
			right: 0px;
			width: 140px;
			height: 118px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			position: static;
			top: 25px;
			font-size: 25px;
			text-align: center;
		}
	}
}

