#toTop {
	display: none;
	position: fixed;
	right: 15px;
	top: 80%;
	z-index: 998;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	width: 60px;
	height: 40px;
	box-sizing: border-box;
	img {
		width: 100%;
	}
}